anyio==3.3.4
appdirs==1.4.4
asgiref==3.4.1
certifi==2021.10.8
click==8.0.3
distlib==0.3.1
fastapi==0.70.0
filelock==3.3.2
greenlet==1.1.2
h11==0.12.0
httptools==0.2.0
idna==3.3
importlib-metadata==4.8.1
pbr==5.4.5
pydantic==1.8.2
python-dotenv==0.19.1
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
stevedore==3.2.0
typer==0.4.0
typing-extensions==3.10.0.2
uvicorn==0.15.0
uvloop==0.16.0
virtualenv==20.0.28
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
watchgod==0.7
websockets==10.0
zipp==3.6.0
